.material-icons-outlined{
  font-family: 'Material Icons';
}
.flex-center {
  /*-webkit-appearance: none;
  appearance: none;
  all:unset;*/
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;*/
  
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{

  }
.nav-upper-right{
  float: right;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;

  }

.nav-bottom-left{
  float: left;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  
}

.nav-bottom-right{
  float: right;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  
}
.footer{
  appearance: none;
  color: #f2f2f2;
}

